<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-sh4c{text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-mqa1{border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-tf2e{text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 845px">
<colgroup>
<col style="width: 84px">
<col style="width: 186px">
<col style="width: 151px">
<col style="width: 181px">
<col style="width: 189px">
<col style="width: 54px">
</colgroup>
<thead>
  <tr>
    <th class="tg-mqa1">Test Cases</th>
    <th class="tg-mqa1">Description</th>
    <th class="tg-mqa1">input</th>
    <th class="tg-mqa1">Expected output</th>
    <th class="tg-mqa1">Actual output</th>
    <th class="tg-mqa1">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-baqh">1</td>
    <td class="tg-sh4c">check the output for cylinder</td>
    <td class="tg-baqh">23 12</td>
    <td class="tg-tf2e">Area=5055.400000000001<br>Volume : 19932.72</td>
    <td class="tg-0lax">Area=5055.400000000001<br>Volume : 19932.72<br></td>
    <td class="tg-sh4c">pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">2</td>
    <td class="tg-sh4c">check output for sphere<br></td>
    <td class="tg-baqh">15</td>
    <td class="tg-sh4c">Area   : 2826.0<br>    Volume : 14130.0</td>
    <td class="tg-baqh">Area   : 2826.0<br>    Volume : 14130.0</td>
    <td class="tg-sh4c">pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">3</td>
    <td class="tg-sh4c">check wrong input<br></td>
    <td class="tg-baqh">a <br></td>
    <td class="tg-sh4c">error</td>
    <td class="tg-baqh">error</td>
    <td class="tg-sh4c">pass</td>
  </tr>
</tbody>
</table>