<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mqa1">Test Cases</th>
    <th class="tg-mqa1">Description</th>
    <th class="tg-mqa1">input</th>
    <th class="tg-mqa1">Expected output</th>
    <th class="tg-mqa1">Actual output</th>
    <th class="tg-mqa1">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-baqh">1</td>
    <td class="tg-sh4c">check the output</td>
    <td class="tg-baqh">20</td>
    <td class="tg-sh4c">list of pairs for 20<br>months<br></td>
    <td class="tg-baqh">list of pairs for 20<br>months<br></td>
    <td class="tg-sh4c">pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">2</td>
    <td class="tg-sh4c">check the formatted table</td>
    <td class="tg-baqh">15</td>
    <td class="tg-sh4c">Table lines<br></td>
    <td class="tg-baqh">Table lines</td>
    <td class="tg-sh4c">pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">3</td>
    <td class="tg-sh4c">check for wrong input</td>
    <td class="tg-baqh">-1</td>
    <td class="tg-sh4c">error</td>
    <td class="tg-baqh">error</td>
    <td class="tg-sh4c">pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">4</td>
    <td class="tg-sh4c">check for wrong input</td>
    <td class="tg-baqh">a</td>
    <td class="tg-sh4c">error</td>
    <td class="tg-baqh">error</td>
    <td class="tg-sh4c">pass</td>
  </tr>
</tbody>
</table>