**7.**Write a program to display sum, difference, product, quotient and reminder of two unequal.

In [ ]:
a=float(input("Enter the first number: "))
b=float(input("Enter the second number: "))
sum=a+b
print("Sum= ",sum)
difference=a-b
print("Difference= ",difference)
product=a*b
print("Product= ",product)
quotient=a/b
print("Quotient= ",quotient)
reminder=a%b
print("Reminder= ",reminder)

**Test Cases**

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-baqh">Test Case number</th>
    <th class="tg-0lax">Description</th>
    <th class="tg-0lax">Input</th>
    <th class="tg-baqh">Expected Output</th>
    <th class="tg-baqh">Actual Output</th>
    <th class="tg-0lax">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-baqh">1</td>
    <td class="tg-0lax" rowspan="2"><br><br><br>Check the output for <br>  Math Basic operations</td>
    <td class="tg-0lax">&nbsp;&nbsp;&nbsp;4<br>&nbsp;&nbsp;&nbsp;3</td>
    <td class="tg-baqh">&nbsp;&nbsp;Sum=7.0<br>&nbsp;&nbsp;Difference=1.0<br>&nbsp;&nbsp;Product=12.0<br>&nbsp;&nbsp;Quotient=1.333<br>&nbsp;&nbsp;Reminder=1.0</td>
    <td class="tg-baqh">&nbsp;&nbsp;Sum=7.0<br>&nbsp;&nbsp;Difference=1.0<br>&nbsp;&nbsp;Product=12.0<br>&nbsp;&nbsp;Quotient=1.333<br>&nbsp;&nbsp;Reminder=1.0</td>
    <td class="tg-0lax">&nbsp;&nbsp;Pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">2</td>
    <td class="tg-0lax">&nbsp;&nbsp;3<br>&nbsp;&nbsp;4</td>
    <td class="tg-baqh">&nbsp;&nbsp;Sum=7.0<br>&nbsp;&nbsp;Difference=-1.0<br>&nbsp;&nbsp;Product=12.0<br>&nbsp;&nbsp;Quotient=0.75<br>&nbsp;&nbsp;Reminder=3.0</td>
    <td class="tg-baqh">Sum=7.0<br>Difference=-1.0<br>Product=12.0<br>Quotient=0.75<br>Reminder=3.0</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-baqh">3</td>
    <td class="tg-0lax">Check for wrong input</td>
    <td class="tg-0lax">&nbsp;&nbsp;&nbsp;a<br>&nbsp;&nbsp;&nbsp;b</td>
    <td class="tg-baqh">&nbsp;&nbsp;&nbsp;error</td>
    <td class="tg-baqh">error</td>
    <td class="tg-0lax">&nbsp;&nbsp;Pass</td>
  </tr>
</tbody>
</table>