**Test Cases**

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-7btt">Test Cases No.</th>
    <th class="tg-7btt">Descripton</th>
    <th class="tg-7btt">Input</th>
    <th class="tg-7btt">Expected output</th>
    <th class="tg-7btt">Actual output</th>
    <th class="tg-7btt">result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-c3ow">1</td>
    <td class="tg-c3ow">Input basic pay<br>and identity details<br></td>
    <td class="tg-c3ow">10000</td>
    <td class="tg-c3ow">Gross salary&nbsp;&nbsp;&nbsp;= 121512.5<br>Deduction =     68<br>Net Salary&nbsp;&nbsp;&nbsp;&nbsp;=12444.5<br></td>
    <td class="tg-c3ow">Gross salary&nbsp;&nbsp;&nbsp;= 121512.5<br>Deduction =     68<br>Net Salary&nbsp;&nbsp;&nbsp;&nbsp;=12444.5</td>
    <td class="tg-c3ow">Pass<br></td>
  </tr>
  <tr>
    <td class="tg-c3ow">2</td>
    <td class="tg-c3ow">Wrong input</td>
    <td class="tg-c3ow">eret<br></td>
    <td class="tg-c3ow">Error<br></td>
    <td class="tg-c3ow">Error</td>
    <td class="tg-c3ow">Pass<br></td>
  </tr>
</tbody>
</table>